---
---
<table class="min-w-full table-auto border-collapse border border-gray-300 dark:border-gray-700">
    <thead>
    <tr class="bg-black">
        <th class="border px-4 py-2">Descripción</th>
        <th class="border px-4 py-2">Verificado por</th>
        <th class="border px-4 py-2">Acciones</th>
    </tr>
</thead>
<tbody id="listaVerificados" class="bg-black">
    <!-- Aquí se insertan los reportes verificados -->
    </tbody>
</table>
