@import "tailwindcss";


@theme {
	--color-background-dark: #000000;
	--color-dark: #ffffff;
	--color-background-light: #000000;
	--color-light: #ffffff;
	--height-header-container: 60px;
	--width-aside-container: 18rem;
}

:root {
	--background-color-dark: #000000;
	--color-dark: #ffffff;
	--background-color-light: #000000;
	--color-light: #ffffff;
	--height-header-container: 90px;
	--width-aside-container: 18rem;
	--calc-aside: calc(100vh - 60px);
	--calc-section: calc(100vh - 60px);
}

.cursor-punto {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 1000px;
  pointer-events: none;
  z-index: -9999;
  display: none;
  filter: blur(130px);
  mix-blend-mode: difference; /* Opcional: para que se vea sobre fondos claros u oscuros */
}

body {
	margin: 0;
	width: 100%;
	background-color: #000000;
	color: var(--color-light);
	font-family: "Jost Variable", sans-serif;
}

#aside-container-mb {
	transition: all 200ms;
}

.active {
	color: #00c951;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--background-color-dark);
		color: var(--color-dark);
	}
}