@import "tailwindcss";

@theme {
    --color-background-dark: #030712;
	--color-dark: #ffffff;
	--color-background-light: #ffffff;
	--color-light: #000000;
	--height-header-container: 60px;
	--width-aside-container: 18rem;
}