---
import Report from "../components/Report.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/about.css";
---
<Layout
<h1> Sobre Nosotros</h1>
<p>Tratamos de reunir datos y que estos ayuden a los demas</p>>
</Layout>

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-..."
    crossorigin="anonymous"
/>
