---
import Report from "../components/Report.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Ambientales / Sobre Nosotros"  description="Reporta incidentes ambientales para revisión interna." >
    <h1>Sobre Nosotros</h1>
    <p>Tratamos de reunir datos y que estos ayuden a los demas</p>
</Layout>
