---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Ambientales - Sobre Nosotros"
    description="Reporta incidentes ambientales para revisi贸n interna."
>
    <section
        class="flex flex-wrap justify-center items-center h-screen gap-9 p-6"
    >
        <!-- Card 1 -->
        <div
            class="max-w-sm bg-background-dark rounded-xl shadow-md p-6 transition-transform duration-300 hover:bg-background-dark"
        >
            <h3 class="text-xl font-semibold mb-4"> Resumen</h3>
            <p class="leading-relaxed">
                AmbiTrack es una plataforma web que protege el Parque Nacional
                Natural Chiribiquete. Conectamos a visitantes, guardaparques y
                comunidades para transformar observaciones en datos 煤tiles y
                acciones concretas.
            </p>
        </div>

        <!-- Card 2 -->
        <div
            class="max-w-sm bg-background-dark rounded-xl shadow-md p-6 transition-transform duration-300 hover:bg-background-dark"
        >
            <h3 class="text-xl font-semibold mb-4"> 驴Qu茅 hacemos?</h3>
            <p class="leading-relaxed">
                Permitimos reportes ambientales en tiempo real desde cualquier
                dispositivo m贸vil. Mostramos datos en mapas interactivos y
                activamos alertas inteligentes ante amenazas como incendios o
                deforestaci贸n.
            </p>
        </div>

        <!-- Card 3 -->
        <div
            class="max-w-sm bg-background-dark rounded-xl p-6 duration-300 hover:bg-background-dark"
        >
            <h3 class="text-xl font-semibold mb-4"> 驴Por qu茅 lo hacemos?</h3>
            <p class="leading-relaxed">
                Chiribiquete necesita vigilancia efectiva. AmbiTrack empodera a
                la comunidad para conservar este patrimonio natural, mejorando
                la respuesta de autoridades y fomentando la participaci贸n
                ciudadana.
            </p>
        </div>
    </section>
</Layout>
<style>
    div {
        position: relative;
    }
    div::before {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -20;
        background-color: rgba(0, 128, 0, 0.678);
        filter: blur(10px);
        content: "";
    }
</style>
