---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Ambientales - Sobre Nosotros"
    description="Reporta incidentes ambientales para revisi贸n interna."
>
    <section
        class="flex flex-wrap justify-center items-center h-screen gap-6 p-6"
    >
     <div class="w-full  h-screen flex items-center fixed  -z-10    justify-center">
        <div class="bg-[rgba(0,0,0,0.67)] w-full h-full z-0 absolute inset-0">
        </div>
        <img
            src="/pexels-samerdaboul-1246439.jpg "
            class="object-cover w-full -z-[9] h-full blur-[6px]"
            alt=""
        />
    </div>
        <!-- Card 1 -->
        <div
            class="max-w-sm bg-gradient-to-br from-green-100 to-blue-100 rounded-xl shadow-md p-6 transition-transform duration-300 hover:-translate-y-2 hover:shadow-xl cursor-pointer"
        >
            <h3 class="text-xl font-semibold text-gray-800 mb-4">
                 Resumen
            </h3>
            <p class="text-gray-700 leading-relaxed">
                AmbiTrack es una plataforma web que protege el Parque Nacional
                Natural Chiribiquete. Conectamos a visitantes, guardaparques y
                comunidades para transformar observaciones en datos 煤tiles y
                acciones concretas.
            </p>
        </div>

        <!-- Card 2 -->
        <div
            class="max-w-sm bg-gradient-to-br from-green-100 to-blue-100 rounded-xl shadow-md p-6 transition-transform duration-300 hover:-translate-y-2 hover:shadow-xl cursor-pointer"
        >
            <h3 class="text-xl font-semibold text-gray-800 mb-4">
                 驴Qu茅 hacemos?
            </h3>
            <p class="text-gray-700 leading-relaxed">
                Permitimos reportes ambientales en tiempo real desde cualquier
                dispositivo m贸vil. Mostramos datos en mapas interactivos y
                activamos alertas inteligentes ante amenazas como incendios o
                deforestaci贸n.
            </p>
        </div>

        <!-- Card 3 -->
        <div
            class="max-w-sm bg-gradient-to-br from-green-100 to-blue-100 rounded-xl shadow-md p-6 transition-transform duration-300 hover:-translate-y-2 hover:shadow-xl cursor-pointer"
        >
            <h3 class="text-xl font-semibold text-gray-800 mb-4">
                 驴Por qu茅 lo hacemos?
            </h3>
            <p class="text-gray-700 leading-relaxed">
                Chiribiquete necesita vigilancia efectiva. AmbiTrack empodera a
                la comunidad para conservar este patrimonio natural, mejorando
                la respuesta de autoridades y fomentando la participaci贸n
                ciudadana.
            </p>
        </div>
    </section>
</Layout>