---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Ambientales - Sobre Nosotros"
    description="Reporta incidentes ambientales para revisión interna."
>
    <section
        class="flex flex-wrap justify-center items-center min-h-screen gap-9 p-6 "
    >
        <!-- Card 1 -->
        <div class="max-w-sm p-6 relative overflow-hidden group flex-shrink-0">
            <h3 class="text-xl font-semibold mb-4">Resumen</h3>
            <p class="leading-relaxed">
                AmbiTrack es una plataforma web que protege el Parque Nacional
                Natural Chiribiquete. Conectamos a visitantes, guardaparques y
                comunidades para transformar observaciones en datos útiles y
                acciones concretas.
            </p>
        </div>

        <!-- Card 2 -->
        <div class="max-w-sm p-6 relative overflow-hidden group flex-shrink-0">
            <h3 class="text-xl font-semibold mb-4">¿Qué hacemos?</h3>
            <p class="leading-relaxed">
                Permitimos reportes ambientales en tiempo real desde cualquier
                dispositivo móvil. Mostramos datos en mapas interactivos y
                activamos alertas inteligentes ante amenazas como incendios o
                deforestación.
            </p>
        </div>

        <!-- Card 3 -->
        <div class="max-w-sm p-6 relative overflow-hidden group flex-shrink-0">
            <h3 class="text-xl font-semibold mb-4">¿Por qué lo hacemos?</h3>
            <p class="leading-relaxed">
                Chiribiquete necesita vigilancia efectiva. AmbiTrack empodera a
                la comunidad para conservar este patrimonio natural, mejorando
                la respuesta de autoridades y fomentando la participación
                ciudadana.
            </p>
        </div>
    </section>
</Layout>
<style>
    /* Efecto de escala al hacer hover */
    .group {
        transition: transform 0.3s ease;
    }
    
    .group:hover {
        transform: scale(1.02);
    }
    
    div {
        background-color: #000000;
    }
</style>
