---
import Layout from "../layouts/Layout.astro";
---
<Layout
    title="AmbiTrack / Calificanos"
    description="Reporta incidentes ambientales para revisión interna."
>
    <h1>Calificanos</h1>
    <p>Nos importa tus opiniones</p>
</Layout>
