---
import Layout from "../layouts/Layout.astro";
---

<script src="/src/scripts/happy-bird.js"></script>
<Layout
    title="AmbiTrack - Flappy Bird"
    description="Reporta incidentes ambientales para revisión interna."
>
    <div
        id="container"
        class="w-full h-(--calc-section) flex flex-col items-center justify-center"
    >
        <div class="text-not">
            <span class="font-bold text-[1.2rem]"
                >Este Juego no esta <span class="text-green-500"
                    >Disponible en este tamaño</span
                ></span
            >
        </div>
        <canvas id="board"></canvas>
    </div>
</Layout>
<style>
    .text-not {
        display: none;
    }
    @media (width < 1200px) {
        .text-not {
            display: block;
        }
        #board {
            display: none;
        }
    }
    #board {
    }
</style>
<script type="module">
    window.addEventListener("DOMContentLoaded", () => {
        // Busca el footer y lo oculta
        const footer = document.querySelector("footer");
        const p_hidden = document.getElementById("p-hidden");
        const main_hidden = document.getElementById("main-hidden");
        if (footer || p_hidden || main_hidden) {
            footer.style.display = "none";
            p_hidden.style.display = "none";
            main_hidden.classList.remove("px-5");
        }
    });
</script>
