---
import Layout from "../layouts/Layout.astro";
---
<Layout
    title="AmbiTrack - Flappy Bird"
    description="Reporta incidentes ambientales para revisión interna."
>
    <h1>Calificanos</h1>
</Layout>