
<video class="z-[99] fixed inset-0  "  autoplay muted loop playsinline>
    <source src="/videos/fondo-predeterminado.mp4" type="video/mp4" />
</video>

<div class="contenedor">
    <div class="contenedor-login">
        <h1>Iniciar sesión</h1>
        <input id="usuario" placeholder="Usuario" />
        <input id="clave" placeholder="Contraseña" type="password" />
        <button onclick="login()">Entrar</button>
        <button onclick="location.href='/'"> Volver </button>
    </div>
</div>
<script src="../js/login.js"></script>
