---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="AmbiTrack - Recientes"
    description="AmbiTrack es la herramienta para reportar situaciones que amenacen el medio ambiente o representen riesgos naturales. Contribuye a proteger nuestro entorno informando de manera rápida y efectiva."
>
    <section class="flex flex-col items-center py-16 gap-16">
        <h1 class="text-4xl font-bold">Recientes</h1>
        <iframe
            src="https://www.youtube.com/embed/OszGk94K5bs?si=Y8-tqGjrAooXtZ28"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        <div
            class="w-full max-w-[700px] h-[1px] bg-[linear-gradient(90deg,transparent,#00c951,transparent)]"
        >
        </div>
        <iframe
            src="https://www.youtube.com/embed/znRFdeoxX4Y?si=ZRNfpy42D7PebRIW"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>

        <div
            class="w-full max-w-[700px] h-[1px] bg-[linear-gradient(90deg,transparent,#00c951,transparent)]"
        >
        </div>
        <iframe
            src="https://www.youtube.com/embed/YA9Zos30bwY?si=pUGncdFv3jmRm7Hv"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>

        <div
            class="w-full max-w-[700px] h-[1px] bg-[linear-gradient(90deg,transparent,#00c951,transparent)]"
        >
        </div>
        <iframe
            src="https://www.youtube.com/embed/HKbO5ykNuN0?si=jKRPmPI0R1-gzDFv"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        <div
            class="w-full max-w-[700px] h-[1px] bg-[linear-gradient(90deg,transparent,#00c951,transparent)]"
        >
        </div>

        <iframe
            src="https://www.youtube.com/embed/rdi2QrJHwds?si=XW0QbIcKO6njkpMN"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>

        <div
            class="w-full max-w-[700px] h-[1px] bg-[linear-gradient(90deg,transparent,#00c951,transparent)]"
        >
        </div>
        <iframe
            src="https://www.youtube.com/embed/VL0ry4AySLA?si=d8XbMDfE8Je81_hs"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        <div
            class="w-full max-w-[700px] h-[1px] bg-[linear-gradient(90deg,transparent,#00c951,transparent)]"
        >
        </div>
        <iframe
            src="https://www.youtube.com/embed/JHVwcjni5fQ?si=uctD-pihtCJ72Hrl"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        <div
            class="w-full max-w-[700px] h-[1px] bg-[linear-gradient(90deg,transparent,#00c951,transparent)]"
        >
        </div>
    </section>
</Layout>
<style>
    iframe {
        width: 100%;
        max-width: 700px;
        height: 410px;
        border-radius: 10px;
    }
</style>
