---
// reportes.astro
import Report from "../components/Report.astro";
import Layout from "../layouts/Layout.astro";
import FormularioReporte from "../components/FormularioReporte.astro";
import ListaReportes from "../components/ListaReportes.astro";
---

<Layout
  title="AmbiTrack - Reportes"
  description="Reporta incidentes ambientales para revisión interna."
>
<Report />

  <section class="flex flex-col items-center gap-7 pt-7">
    <h1 class="text-2xl font-bold mb-4 text-center">
      Reporta un <span class="text-green-500  grid-item ">incidente ambiental</span>
    </h1>
    <FormularioReporte />
    <hr class="my-6" />
    <h2 class="text-xl font-semibold mb-4">📋 Reportes registrados</h2>
    <ListaReportes />
  </section>
</Layout>
