---
const {Img1, text1, Img2, text2, Img3, text3 } = Astro.props;
---

<!-- Script de animación -->

<section class="py-10 lex flex-col px-5 items-center max-w-6xl m-auto gap-9 overflow-hidden">
    <h1 class="text-4xl text-center my-14 font-bold opacity-0 animate-fadeInUp">Que Puedes <span class="text-green-500">Reportar</span></h1>
    <div id="grid" class="w-full grid">
        <div
            class="bg-[url(/realistichorizontal.png)] bg-cover img rounded-2xl relative grid-item "
        >
            <div class="black absolute inset-0"></div>
            <h3
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-3xl w-full text-center text-white"
            >
                {text1}
            </h3>
        </div>
        <div
            class="bg-[url(/realistichorizontalos.png)] bg-cover img rounded-2xl relative grid-item "
        >
            <div class="black absolute inset-0"></div>
            <h3
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-3xl w-full text-center text-white"
            >
                {text2} 
            </h3>
        </div>
        <div
            class="bg-[url(/realisticvertical.png)] bg-cover img rounded-2xl relative grid-item"
        >
            <div class="black absolute inset-0"></div>
            <h3
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-3xl w-full text-center text-white"
            >
                {text3}
            </h3>
        </div>
    </div>
</section>
<style>
    /* Animación de entrada */
    #grid {
        grid-template-columns: 1fr;
        grid-auto-rows: 800px;
        gap: 70px;
    }
    @media (width > 800px) {
        #grid {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: repeat(2, 320px);
            gap: 20px;
        }

        #grid div:nth-child(3) {
            grid-row: span 2;
        }
        #grid div:nth-child(1) {
            grid-column: span 2;
        }
        #grid div:nth-child(2) {
            grid-row: 2;
            grid-column: span 2;
        }
    }
    .black {
        border-radius: 16px;
    }

    .img .black {
        transition: all 100ms linear;
        opacity: 0;
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.822) 17%,
            transparent 83%
        );
    }
    .img:hover .black {
        opacity: 1;
    }

    .img h3 {
        opacity: 0;
        transition: all 100ms linear;
    }

    .img:hover h3 {
        opacity: 1;
    }
</style>

