---
const {Img1, text1, Img2, text2, Img3, text3 } = Astro.props
---

<section class="py-10 lex flex-col px-5 items-center gap-9">
    <h1 class="text-4xl text-center my-14 font-bold">Que Puedes <span class="text-green-500" >Reportar</span></h1>
    <div id="grid" class="w-full grid">
        <div
            class={`bg-[url(/realistichorizontal.png)] bg-cover img rounded-2xl relative`}
        >
            <div class="black absolute inset-0"></div>
            <h3
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-3xl w-full text-center text-white"
            >
                {text1}
            </h3>
        </div>
        <div
            class={`bg-[url(/realistichorizontalos.png)] bg-cover img rounded-2xl relative`}
        >
            <div class="black absolute inset-0"></div>
            <h3
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-3xl w-full text-center text-white"
            >
                {text2} 
            </h3>
        </div>
        <div
            class={`bg-[url(/realisticvertical.png)] bg-cover img rounded-2xl relative`}
        >
            <div class="black absolute inset-0"></div>
            <h3
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-3xl w-full text-center text-white"
            >
                {text3}
            </h3>
        </div>
    </div>
</section>
<style>
    #grid {
        grid-template-columns: 1fr;
        grid-auto-rows: 800px;
        gap: 70px;
    }
    @media (width > 800px) {
        #grid {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: repeat(2, 320px);
            gap: 20px;
        }

        #grid div:nth-child(3) {
            grid-row: span 2;
        }
        #grid div:nth-child(1) {
            grid-column: span 2;
        }
        #grid div:nth-child(2) {
            grid-row: 2;
            grid-column: span 2;
        }
    }
    .black {
        border-radius: 16px;
    }

    .black {
    }

    .img:hover .black {
        transition: all 200s ease;
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.822) 17%,
            transparent
        );
    }

    .img h3 {
        opacity: 0;
        transition: all 300ms;
    }

    .img:hover h3 {
        opacity: 1;
    }
</style>
