<nav class="space-y-4">
  <a href="/" class="font-bold block py-2 px-4 hover:bg-gray-200 dark:hover:bg-gray-700 rounded">Inicio</a>
  <a href="/" class="font-bold block py-2 px-4 hover:bg-gray-200 dark:hover:bg-gray-700 rounded">Reciente</a>
  <a href="/reportes" class="font-bold block py-2 px-4 hover:bg-gray-200 dark:hover:bg-gray-700 rounded">Reportar</a>
  <a href="/reportes-verificados" class="font-bold block py-2 px-4 hover:bg-gray-200 dark:hover:bg-gray-700 rounded">Ver Reportes (Admin)</a>
  <a href="/about" class="font-bold block py-2 px-4 hover:bg-gray-200 dark:hover:bg-gray-700 rounded">Sobre Nosotros</a>

  <div class="mt-6 border-t border-gray-300 dark:border-gray-600 pt-4">
    <!-- Opciones para el futuro -->
    <!--
    <a href="/perfil" class="font-bold pb-[10px] block text-sm hover:text-blue-400">Mi perfil</a>
    <a href="/cerrar-sesion" class="font-bold block text-sm hover:text-red-400">Cerrar sesión</a>
    -->
  </div>
</nav>
