<!-- SidebarMenu.astro -->
<nav class="h-full overflow-y-auto">
  <ol class="flex flex-col gap-6 p-5" >
    <li>
      <a href="/" class=" inline-flex text-lg font-semibold hover:text-green-500">Inicio</a>
    </li>
    <li>
      <a href="/reciente" class="inline-flex text-lg font-semibold hover:text-green-500">Reciente</a>
    </li>
    <li>
      <a href="/reportes" class="inline-flex text-lg font-semibold hover:text-green-500">Reportes</a>
    </li>
    <li>
      <a href="/about" class="inline-flex text-lg font-semibold hover:text-green-500">Sobre Nosotros</a>
    </li>
  </ol>

  <!-- <ol class="border-t flex flex-col border-border-light dark:border-white/10 p-5 gap-6">
    <li>
      <a href="/perfil" class="inline-flex text-lg font-semibold hover:text-blue-400">Mi perfil</a>
    </li>
    <li>
      <a href="/" class="inline-flex text-lg font-semibold text-red-400">Cerrar sesión</a>
    </li>
  </ol> -->
</nav>