<!-- SidebarMenu.astro -->
<nav class="space-y-4">
  <a href="/" class="block text-lg font-semibold hover:text-green-500">Inicio</a>
  <a href="/sensores" class="block text-lg font-semibold hover:text-green-500">Reciente</a>
  <a href="/reportes" class="block text-lg font-semibold hover:text-green-500">Reportes</a>
  <a href="/reportes" class="block text-lg font-semibold hover:text-green-500">Sobre Nosotros</a>

  <div class="mt-6 border-t border-border-light dark:border-border-darck pt-4">
    <a href="/perfil" class="pb-[10px] block text-sm hover:text-blue-400">Mi perfil</a>
    <a href="/cerrar-sesion" class="block text-sm hover:text-red-400">Cerrar sesión</a>
  </div>
</nav>