<section class="h-(--calc-section) w-full flex justify-center items-center flex-col">

    <div class="flex items-center pt-6 justify-center w-full relative">
        <div id="mapa" class="w-[400px] h-[400px] z-10 rounded-2xl"></div>
    </div>
    <div class="flex items-center justify-center relative flex-1 w-full">
        <button id="btnUbicacion" aria-label="reportar" class="w-[60px] h-[60px] rounded-full bg-red-500 cursor-pointer flex items-center justify-center" title="Reportar">
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="currentcolor"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240ZM330-120 120-330v-300l210-210h300l210 210v300L630-120H330Zm34-80h232l164-164v-232L596-760H364L200-596v232l164 164Zm116-280Z"/></svg>
        </button>
    </div>
</section>

</div>

<style>

    .animation-opacity{
        animation-name: redlef;
        animation: 6s;
        animation-iteration-count: infinite;
        opacity: 0;
    }

    @keyframes animationopacity {
        
    }

</style>

<script>
import L from 'leaflet';

const boton = document.getElementById('btnUbicacion') as HTMLButtonElement;
const divMapa = document.getElementById('mapa') as HTMLDivElement;

let mapa: L.Map | null = null;

boton.addEventListener('click', () => {
  if (!navigator.geolocation) {
    alert('Tu navegador no soporta geolocalización.');
    return;
  }

  navigator.geolocation.getCurrentPosition(
    (pos: GeolocationPosition) => {
      const lat = pos.coords.latitude;
      const lon = pos.coords.longitude;

      // Si el mapa ya existe, lo actualizamos
      if (mapa) {
        mapa.setView([lat, lon], 13);
      } else {
        mapa = L.map(divMapa).setView([lat, lon], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '© OpenStreetMap contributors'
        }).addTo(mapa);
      }

      // Añadir marcador
      L.marker([lat, lon]).addTo(mapa)
        .bindPopup('lugar del reporte')
        .openPopup();
    },
    (error: GeolocationPositionError) => {
      alert('Error al obtener ubicación: ' + error.message);
    }
  );
});
</script>

